.button {
    display: inline-block;
    font-size: 14px;
    box-sizing: border-box;
    padding: 10px 12px;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 4px;
    transition: all 0.2s;
}

.primary {
    color: var(--white);
    background-color: var(--primary);
}

.primary svg {
    vertical-align: center;
    fill: var(--white);
    transition: all 0.2s;
}

.primary:hover {
    color: var(--white);
    background-color: var(--primary-hover);
}

.ghost {
    color: var(--black);
    background: none;
    border: 1px solid var(--gray-light);
}

.ghost:hover svg {
    fill: var(--white);
}

.ghost:hover {
    color: var(--white);
    background: var(--primary-hover);
    border: 1px solid var(--gray-light);
}

.arrow {
    display: inline-block;
    margin-left: 10px;
}

.down {
    transform: rotate(90deg);
    transition: all 0.2s;
}